[package]
name = "razel"
version = "0.1.0"
authors = ["Stefan Reuschl <stefan.reuschl@gmail.com>"]
edition = "2021"
rust-version = "1.59"
description = "chained commands/tasks executor with caching"
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.56"
async-trait = "0.1.53"
base16ct = { version = "0.1", features = ["alloc"] }
clap = { version = "3.1.6", features = ["derive"] }
crossterm = "0.23.2"
csv = "1.1.6"
directories = "4.0"
itertools = "0.10.3"
log = "0.4.14"
num_cpus = "1.8.0"  # TODO replace with std::thread::available_parallelism() once it works in docker: https://github.com/rust-lang/rust/pull/97925
prost = "0.10"
prost-types = "0.10"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
sha2 = "0.10"
simplelog = "0.11.2"
tokio = { version = "1.18.2", features = ["full"] }
which = "4.2"

[build-dependencies]
prost-build = "0.10"
tonic-build = "0.7"

[dev-dependencies]
approx = "0.5.1"
env_logger = "0.9.0"
serial_test = "0.6.0"
temp-dir = "0.1"


# optimize some dependencies also for dev profile
[profile.dev.package.sha2]
opt-level = 3
