[package]
name = "razel"
version = "0.1.11"
authors = ["Stefan Reuschl <stefan@reu-dev.de>"]
edition = "2021"
rust-version = "1.59"
description = "chained commands/tasks executor with caching"
homepage = "https://github.com/reu-dev/razel"
repository = "https://github.com/reu-dev/razel"
license = "MIT"
categories = ["caching", "concurrency", "command-line-utilities", "development-tools::testing", "filesystem"]
default-run = "razel"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
base16ct = { version = "0.1", features = ["alloc"] }
bstr = "1.0"
clap = { version = "4", features = ["derive"] }
crossterm = "0.26"
csv = "1.1"
directories = "4.0"
futures-util = "0.3"
itertools = "0.10"
log = "0.4"
num_cpus = "1.13"  # TODO replace with std::thread::available_parallelism() once it works in docker: https://github.com/rust-lang/rust/pull/97925
prost = "0.11"
prost-types = "0.11"
regex = "1.7"
reqwest = { version = "0.11", default-features = false, features = ["rustls-tls", "stream"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
sha2 = "0.10"
simplelog = "0.12"
tokio = { version = "1.21", features = ["full"] }
tonic = "0.9"
wasi-cap-std-sync = "8"
wasi-common = { version = "8", default-features = false }
wasmtime = { version = "8", default-features = false, features = ["async", "parallel-compilation", "cranelift", "pooling-allocator", "vtune"] }
wasmtime-wasi = "8"
which = "4"

[target.'cfg(target_os = "linux")'.dependencies]
procfs = { version = "0.14", features = [] }

[build-dependencies]
prost-build = "0.11"
tonic-build = "0.9"

[dev-dependencies]
approx = "0.5"
env_logger = "0.10"
serial_test = "1.0"


# optimize some dependencies also for dev profile
[profile.dev.package.sha2]
opt-level = 3

[profile.release]
strip = "symbols"
