name: CI

on: push

env:
  CARGO_TERM_COLOR: always
  DENO_DIR: .deno-cache
  RUST_BACKTRACE: 1

jobs:
  code-style:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo fmt --check
      - run: cargo clippy --bins --tests
      - run: pip install mypy
      - run: mypy apis/python/razel.py

  tests:
    name: Test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-14
            target: aarch64-apple-darwin
          - os: macos-14
            target: x86_64-apple-darwin
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
          - os: windows-2022
            target: x86_64-pc-windows-msvc
    env:
      CARGO_BUILD_TARGET: x86_64-apple-darwin
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: cache deno
        uses: actions/cache@v4
        with:
          path: .deno-cache/deps
          key: ${{ runner.os }}-deno-${{ hashFiles('apis/deno/razel.ts', 'examples/deno.ts') }}

      - uses: Swatinem/rust-cache@v2

      - run: deno info
      - run: deno --version
      - run: protoc --version

      - run: rustup show
      - run: rustup target add ${{matrix.target}}

      - run: cargo build

      - run: cargo run -- exec --info -f examples/razel.jsonl

      - run: cargo test -- --nocapture --skip real_time_test --skip grpc_server

      # install binary, to be used by following API tests
      - run: cargo install --force --locked --path .

      # test local version of Deno API
      - run: deno run -A --check examples/deno.ts
      - run: git diff --exit-code examples/razel.jsonl

      # test local version of Python API
      - name: Set up python3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
      - run: python3 examples/python.py
        env:
          PYTHONPATH: apis/python
      - run: git diff --exit-code examples/razel.jsonl
