name: CI

on: push

env:
  CARGO_TERM_COLOR: always
  DENO_DIR: .deno-cache
  RUST_BACKTRACE: 1

jobs:
  code-style:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: cargo fmt --check
      - run: cargo clippy --bins --tests

  tests:
    name: Test ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-11, ubuntu-20.04, windows-2019 ]
    steps:
      - uses: actions/checkout@v3

      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - run: deno info
      - run: deno --version
      - run: protoc --version
      - run: rustup show

      - name: cache cargo
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: cache deno
        uses: actions/cache@v3
        with:
          path: .deno-cache/deps
          key: ${{ runner.os }}-deno-${{ hashFiles('include/deno/razel.ts') }}

      - run: deno run -A test/deno.ts

      - run: cargo build

      - run: cargo run -- info

      - run: cargo test -- --skip real_time_test
